@tailwind base;
@tailwind components;
@tailwind utilities;


/* Buttons */
.btn {
  @apply py-2 px-4 rounded-full;
}

.btn-sm {
  @apply py-0.5 px-1 rounded-full;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-subtle text-primary-subtle hover:text-primary border border-primary-dark;
}

.btn-secondary {
  @apply bg-secondary hover:bg-secondary-subtle text-secondary-subtle hover:text-secondary border border-secondary-dark;
}

.btn-success {
  @apply bg-success hover:bg-success-subtle text-success-subtle hover:text-success border border-success-dark;
}

.btn-warning {
  @apply bg-warning hover:bg-warning-subtle text-warning-subtle hover:text-warning-dark border border-warning-dark;
}

.btn-danger {
  @apply bg-danger hover:bg-danger-subtle text-danger-subtle hover:text-danger border border-danger-dark;
}

.btn-info {
  @apply bg-info hover:bg-info-subtle text-info-dark border-info-dark border;
}